/Class1/nbproject/private/
/Class1/build/
/Class1/dist/
/panel_turnos/nbproject/private/
/Class3/nbproject/private/
/Class3/build/
/Class3/dist/
/Class4/nbproject/private/
/Class5/nbproject/private/
/Class5/build/
/LoginMVC/nbproject/private/
/LoginMVC/build/